@font-face {
    font-family: 'Epigraf';
    src: url('fonts/epigrafe-2-2/svg/font.woff');
    font-weight: normal;
    font-style: normal;
}
input {
    font-family: Epigraf;
}

body {
    margin: 0;
    background: white;
}

#ruler-horizontal {
    display: flex;
    margin-left: 15px;
}
#ruler-horizontal span {
    width: 51.5px;
    /* 1 cm in printed - we can not use here "1cm" because this will print another width :( */
    border-left: 1px black solid;
    margin-left: 4px;
    line-height: 1;
    height: 25px;
}
#ruler-vertical {
    display: flex;
    flex-direction: column;
    width: 29px;
    margin-top: 2px;
}
#ruler-vertical span {
    height: 55.7px;
    border-bottom: 1px black solid;
    margin-left: 5px;
}

textarea {
    font-size: 160px;
    font-family: Epigraf;
    position: absolute;
    top: 45px;
    left: 56px;
    height: 1000px;
}
